* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

button,
input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }
}
