$blackColor: #2d2d2f;
$grayColor: #8d8d8e;
$darkGrayColor: #727280;
$lightGrayColor: #f8f8f8;
$blueColor: #2967ff;
$lightBlueColor: #f0f4fb;
$redColor: #ff2d87;
$greenColor: #58cf18;
$orangeColor: #ffa601;
$pinkColor: #ff7cb4;
$white: #ffffff;
