@import "../../styles/variables.scss";

.button {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid $darkGrayColor;
  border-radius: 50%;
}
.counter_container {
  position: absolute;
  padding: 5px;
  right: -20px;
  top: 0;
  z-index: 100;
  background-color: white;
  .counter_item {
    font-weight: 600;
    size: 14px;
    color: $blueColor;
  }
}
