@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.container {
  @include flex(row, center, center, 10px);
  width: 100%;
  height: 100%;
  border: 1px solid $pinkColor;
  border-radius: 20px;
  .sales {
    transform: translateX(-15px);
  }
  .contentBox {
    @include flex(column, start, start, 10px);
    .title {
      color: $blueColor;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
