@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.button {
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: linear-gradient(
      180deg,
      rgba(255, 104, 29, 0.462745) 0%,
      rgba(19, 7, 0, 0.65098) 100%
    ),
    url(../../../../../assets/candies.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  @include flex();
  .title {
    color: $white;
    font-weight: 700;
    font-size: 20px;
  }
}
