@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.footer {
  background-color: $lightGrayColor;
  padding: 40px;
  .top {
    margin-bottom: 60px;
    @include flex(row, space-between, center, 0);
    .title {
      font-weight: 700;
      font-size: 40px;
    }
    .links {
      @include flex(row, start, center, 40px);
    }
  }
  .bottom {
    @include flex(row, center, center, 20px);
    .link {
      color: $grayColor;
      font-size: 14px;
    }
  }
}
