@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  flex-grow: 1;
  position: relative;
  @include flex(row, start, center, 0);
  .textInput {
    flex-grow: 1;
    border: 1px solid $lightBlueColor;
    border-radius: 36px;
    height: 50px;
    padding: 20px;
  }
  .submitButton {
    width: 94px;
    border: 1px solid $lightBlueColor;
    border-radius: 41px;
    padding: 6px 20px;
    position: absolute;
    right: 10px;
    background-color: $lightBlueColor;
  }
}
