@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.button {
  width: 100%;
  height: 100%;
  background-image: url(../../../../../assets/beatifull_view.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  @include flex();
  .title {
    color: $white;
    font-weight: 700;
    font-size: 20px;
  }
}
